<h4 class="title">Order Details</h4>
<h4 class="title is-4"><%= @order.products.size %> products associated to this order.</h4>
<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <h4 class="title is-4">Order Number: <span class="font-normal"><%= @order.order_num.to_s.rjust(4, "0") %></span></h4>
        <h4 class="title is-4">Order Placed: <span class="font-normal"><%= @order.order_date.strftime("%Y-%m-%d") %></span></h4>
        <div>
          <h5 class="title is-5 mt-4">Products Ordered</h5>
          <ul>
            <% @order.products.each do |product| %>
              <li><%= link_to product.name, product %></li>
            <% end %>
          </ul>
        </div>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
      <p class="title is-4">Customer Information <span class="font-normal" style="font-size: 1rem; margin-left:5px"><%= link_to "View Info", @order.customer %></span></p>
      <p class="title is-5">Name: <span class="font-normal"><%= @order.customer.name %></span></p>
      <p class="title is-5 margin-top">Address: <span class="font-normal"><%= @order.customer.address %></span></p>
      <p class="title is-5 margin-top">Phone Number: <span class="font-normal"><%= @order.customer.phone_number %></span></p>
      <p class="title is-5 margin-top">Email: <span class="font-normal"><%= @order.customer.email %></span></p>
    </article>
  </div>
</div>
