<h2><%= @product.name %></h2>
<p>
  There are <%= @product.orders.size %> orders associated to this product.
</p>
<p>Price: $<%= @product.price %></p>
<p>Stock Quantity: <%= @product.stock_quantity %></p>

<br/>
<h3>Orders for this product <%= @product.name %>.</h3>
<% if @product.orders.empty? %>
  <p>There are no orders for this product.</p>
<% else %>
  <ul>
    <% @product.orders.each do |order| %>
      <li><%= link_to order.customer.name, order.customer %> ordered this product on <%= link_to order.order_date, order %></li>
    <% end %>
  </ul>
<% end %>
